# PostgreSQL database configs
DB_HOST=db
DB_PORT=5432
DB_NAME=resource_optimization
DB_USER=postgres
DB_PASSWORD=postgres

# ML service connection endpoint
ML_SERVICE_URL=http://ml_service:8050

# General configs
LOG_LEVEL=INFO
APP_VERSION=11.0.0
